#markdown,body {
  background-color: #E9D8FD;
}
.title {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.edit > h4,textarea {
  width: 100%;
  height: 40%;;
}
.editor {
  text-align: center;
  background-color: #9F7AEA;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.editor-text {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.display {
  text-align: center;
  background-color: #9F7AEA;
  font-size: 30px;
}
.display-preview {
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
#preview {
  padding-left: 2%;
}